{{#if isAdmin}}{{>navAdmin}} {{/if}}
{{#if isStaff}}{{>navStaff}} {{/if}}
{{#if isDentist}}{{>navDentist}} {{/if}}

<div class="container_dentist">
    <div style="display: flex;justify-content: space-between;">
        <div class="title" >
            Danh sách các phòng khám
            
        </div>
        
        <div class="right_d">
            <form action="#">
                <input class="title search" type="text" placeholder="Search..">
                <button type="submit" value="Tìm kiếm" id="Tìm kiếm">Tìm kiếm </button>
            </form>
            {{#if isAdmin}}
            <a class="title" href="#">
                <i class='bx bx-plus'></i>
            </a>
            {{/if}}
        </div>
    </div>
    <div class="list_clinic d_head">
        <div>Mã phòng khám</div>
        <div>Địa chỉ phòng khám</div>
        <div></div>
    </div>
    <div class="clinic_contnent">
        <div class="list_clinic">
            <div>{{stt}}1</div>
            <div>Số 5657, Đường Hùng Vương, Phường An Bình, Thành phố Biên Hòa, Đồng Nai</div>
            {{#if isAdmin}}<div><i class='bx bx-edit-alt bbtn-edit'></i></div>{{/if }}
        </div>
        <div class="list_clinic">
            <div>{{stt}}1</div>
            <div>Số 5657, Đường Hùng Vương, Phường An Bình, Thành phố Biên Hòa, Đồng Nai</div>
            {{#if isAdmin}}<div><i class='bx bx-edit-alt bbtn-edit'></i></div>{{/if }}
        </div>
        <div class="list_clinic">
            <div>{{stt}}1</div>
            <div>Số 5657, Đường Hùng Vương, Phường An Bình, Thành phố Biên Hòa, Đồng Nai</div>
            {{#if isAdmin}}<div><i class='bx bx-edit-alt bbtn-edit'></i></div>{{/if }}
        </div>
        <div class="list_clinic">
            <div>{{stt}}1</div>
            <div>Số 5657, Đường Hùng Vương, Phường An Bình, Thành phố Biên Hòa, Đồng Nai</div>
            {{#if isAdmin}}<div><i class='bx bx-edit-alt bbtn-edit'></i></div>{{/if }}
        </div>
        <div class="list_clinic">
            <div>{{stt}}1</div>
            <div>Số 5657, Đường Hùng Vương, Phường An Bình, Thành phố Biên Hòa, Đồng Nai</div>
            {{#if isAdmin}}<div><i class='bx bx-edit-alt bbtn-edit'></i></div>{{/if }}
        </div>
        <div class="list_clinic">
            <div>{{stt}}1</div>
            <div>Số 5657, Đường Hùng Vương, Phường An Bình, Thành phố Biên Hòa, Đồng Nai</div>
            {{#if isAdmin}}<div><i class='bx bx-edit-alt bbtn-edit'></i></div>{{/if }}
        </div>
        <div class="list_clinic">
            <div>{{stt}}1</div>
            <div>Số 5657, Đường Hùng Vương, Phường An Bình, Thành phố Biên Hòa, Đồng Nai</div>
            {{#if isAdmin}}<div><i class='bx bx-edit-alt bbtn-edit'></i></div>{{/if }}
        </div>
    
    </div>



</div>