<section id="overlay">
    {{>addCus}}
</section>

{{#if isAdmin}}{{>navAdmin}} {{/if}}
{{#if isStaff}}{{>navStaff}} {{/if}}
{{#if isDentist}}{{>navDentist}} {{/if}}

<div class="container_cus">
    <div style="display: flex;justify-content: space-between;">
        <div class="title">
            Danh sách bệnh nhân

        </div>

        <div class="right_d">
            <form action="#">
                <input class="title search" type="text" placeholder="Search..">
                <button type="submit" value="Tìm kiếm" id="Tìm kiếm">Tìm kiếm </button>
            </form>

            <div class="title" href="#">
                <i class='bx bx-plus' onclick="on()"></i>
            </div>

        </div>
    </div>
    <div class="list_cus d_head">
        <div>#</div>
        <div>Mã bệnh nhân</div>
        <div>Họ Tên</div>
        <div>Ngày sinh</div>
        <div>giới tính</div>
        <div>Địa chỉ</div>
        <div>SDT</div>
        <div>Ghi chú</div>
        <div>Thêm cuộc hẹn</div>
        <div>Chi tiết</div>
        <div>Xoá bênh nhân</div>
    </div>
    <div class="cus_contnent">
        <div class="list_cus">
            <div>{{stt}}1</div>
            <div>{{ma}}212111</div>
            <div>{{id}}Nguyễn Văn A</div>
            <div>{{date}}21/12/1990</div>
            <div>{{sl}}Nam</div>

            <div>Số 5657, Đường Hùng Vương, Phường An Bình, Thành phố Biên Hòa, Đồng Nai</div>
            <div>123456777</div>
            <div>{{note}}Khoong ăn cay ăn chay ăn măn.Khoong ăn cay ăn chay ăn măn.Khoong ăn cay ăn chay ăn măn.Khoong
                ăn cay ăn chay ăn măn.Khoong ăn cay ăn chay ăn măn.Khoong ăn cay ăn chay ăn măn.
            </div>
            <div>
                <a href="{{#if isAdmin}}/admin/add_schedule{{/if}} {{#if isStaff}}/staff/add_schedule{{/if}} {{#if isDentist}}/dentist/add_schedule{{/if}}">
                <i class='bx bx-plus bbtn-plus'></i>
                </a>
            </div>
            <div>
                <a
                    href="{{#if isAdmin}}/admin/customer/detail{{/if}} {{#if isStaff}}/staff/customer/detail{{/if}} {{#if isDentist}}/dentist/customer/detail{{/if}}">
                    <i class="bx bx-file-find bbtn-detail"></i>
                </a>
            </div>
            <div><i class="bx bx-trash bbtn-trash"></i></div>

        </div>


    </div>



</div>


<script src="/js/overlay.js"></script>

{{!-- <section id="pagination">
    <button id="previous-page">
        <i class='bx bxs-chevron-left'>
        </i>
    </button>
    <div id="page-container">

    </div>

    <button id="next-page">
        <i class='bx bxs-chevron-right'></i>
    </button>

</section> --}}