{{#if isAdmin}}{{>navAdmin}} {{/if}}
{{#if isStaff}}{{>navStaff}} {{/if}}
{{#if isDentist}}{{>navDentist}} {{/if}}

<div class="container-detail-cus">
    <div class="title">Chi tiết hồ sơ</div>
    <div class="content">
        <div>Họ tên bệnh nhân: {{a}}</div>
        <div>Tuổi: {{a}}</div>
        <div>Giới tính: {{a}}</div>
        <div>Tổng tiền điều trị:{{a}}</div>
        <div>Tổng tiền đã thanh toán:{{a}}</div>
        <div>Sức khoẻ răng miệng:{{a}}</div>
        <div>Tình trạng dị ứng:{{a}}</div>
        <div>Thuốc chống chỉ đinh:{{a}}</div>

    </div>
</div>