{{#if isAdmin}}{{>navAdmin}} {{/if}}
{{#if isStaff}}{{>navStaff}} {{/if}}
{{#if isDentist}}{{>navDentist}} {{/if}}

<div class="container_dentist">
    <div style="display: flex;justify-content: space-between;">
        <div class="title" >
            Danh sách nhân viên
            
        </div>
        
        <div class="right_d">
            <form action="#">
                <input class="title search" type="text" placeholder="Search..">
                <button type="submit" value="Tìm kiếm" id="Tìm kiếm">Tìm kiếm </button>
            </form>
            {{#if isAdmin}}
            <a class="title" href="#">
                <i class='bx bx-plus'></i>
            </a>
            {{/if}}
        </div>
    </div>
    <div class="list_dentist d_head">
        <div>#</div>
        <div>Mã nhân viên</div>
        <div>Họ Tên</div>
        <div>Ngày sinh</div>
        <div>giới tính</div>
        <div>SDT</div>
        <div>Địa chỉ</div>
        <div></div>
    </div>
    <div class="dentist_contnent">
        <div class="list_dentist">
            <div>{{stt}}1</div>
            <div>{{ma}}212111</div>
            <div>{{id}}Nguyễn Văn A</div>
            <div>{{date}}21/12/1990</div>
            <div>{{sl}}Nam</div>
            <div>123456777</div>
            <div>Số 5657, Đường Hùng Vương, Phường An Bình, Thành phố Biên Hòa, Đồng Nai</div>
            {{#if isAdmin}}<div><i class="bx bx-trash btn-trash"></i></div>{{/if }}
        </div>
        <div class="list_dentist">
            <div>{{stt}}1</div>
            <div>{{ma}}212111</div>
            <div>{{id}}Nguyễn Văn A</div>
            <div>{{date}}21/12/1990</div>
            <div>{{sl}}Nam</div>
            <div>123456777</div>
            <div>Số 5657, Đường Hùng Vương, Phường An Bình, Thành phố Biên Hòa, Đồng Nai</div>
            {{#if isAdmin}}<div><i class="bx bx-trash btn-trash"></i></div>{{/if }}
        </div><div class="list_dentist">
            <div>{{stt}}1</div>
            <div>{{ma}}212111</div>
            <div>{{id}}Nguyễn Văn A</div>
            <div>{{date}}21/12/1990</div>
            <div>{{sl}}Nam</div>
            <div>123456777</div>
            <div>Số 5657, Đường Hùng Vương, Phường An Bình, Thành phố Biên Hòa, Đồng Nai</div>
            {{#if isAdmin}}<div><i class="bx bx-trash btn-trash"></i></div>{{/if }}
        </div><div class="list_dentist">
            <div>{{stt}}1</div>
            <div>{{ma}}212111</div>
            <div>{{id}}Nguyễn Văn A</div>
            <div>{{date}}21/12/1990</div>
            <div>{{sl}}Nam</div>
            <div>123456777</div>
            <div>Số 5657, Đường Hùng Vương, Phường An Bình, Thành phố Biên Hòa, Đồng Nai</div>
            {{#if isAdmin}}<div><i class="bx bx-trash btn-trash"></i></div>{{/if }}
        </div><div class="list_dentist">
            <div>{{stt}}1</div>
            <div>{{ma}}212111</div>
            <div>{{id}}Nguyễn Văn A</div>
            <div>{{date}}21/12/1990</div>
            <div>{{sl}}Nam</div>
            <div>123456777</div>
            <div>Số 5657, Đường Hùng Vương, Phường An Bình, Thành phố Biên Hòa, Đồng Nai</div>
            {{#if isAdmin}}<div><i class="bx bx-trash btn-trash"></i></div>{{/if }}
        </div><div class="list_dentist">
            <div>{{stt}}1</div>
            <div>{{ma}}212111</div>
            <div>{{id}}Nguyễn Văn A</div>
            <div>{{date}}21/12/1990</div>
            <div>{{sl}}Nam</div>
            <div>123456777</div>
            <div>Số 5657, Đường Hùng Vương, Phường An Bình, Thành phố Biên Hòa, Đồng Nai</div>
            {{#if isAdmin}}<div><i class="bx bx-trash btn-trash"></i></div>{{/if }}
        </div><div class="list_dentist">
            <div>{{stt}}1</div>
            <div>{{ma}}212111</div>
            <div>{{id}}Nguyễn Văn A</div>
            <div>{{date}}21/12/1990</div>
            <div>{{sl}}Nam</div>
            <div>123456777</div>
            <div>Số 5657, Đường Hùng Vương, Phường An Bình, Thành phố Biên Hòa, Đồng Nai</div>
            {{#if isAdmin}}<div><i class="bx bx-trash btn-trash"></i></div>{{/if }}
        </div><div class="list_dentist">
            <div>{{stt}}1</div>
            <div>{{ma}}212111</div>
            <div>{{id}}Nguyễn Văn A</div>
            <div>{{date}}21/12/1990</div>
            <div>{{sl}}Nam</div>
            <div>123456777</div>
            <div>Số 5657, Đường Hùng Vương, Phường An Bình, Thành phố Biên Hòa, Đồng Nai</div>
            {{#if isAdmin}}<div><i class="bx bx-trash btn-trash"></i></div>{{/if }}
        </div><div class="list_dentist">
            <div>{{stt}}1</div>
            <div>{{ma}}212111</div>
            <div>{{id}}Nguyễn Văn A</div>
            <div>{{date}}21/12/1990</div>
            <div>{{sl}}Nam</div>
            <div>123456777</div>
            <div>Số 5657, Đường Hùng Vương, Phường An Bình, Thành phố Biên Hòa, Đồng Nai</div>
            {{#if isAdmin}}<div><i class="bx bx-trash btn-trash"></i></div>{{/if }}
        </div>
    </div>



</div>


{{!-- <section id="pagination">
    <button id="previous-page">
        <i class='bx bxs-chevron-left'>
        </i>
    </button>
    <div id="page-container">

    </div>

    <button id="next-page">
        <i class='bx bxs-chevron-right'></i>
    </button>

</section> --}}