<div class="head_profile">

    <img src="/img/avatar.png" alt="avatar">
    <div class="name">
        <div>Nguyễn Văn A</div>
        <div class="sub">{{role}}Nhân viên</div>
    </div>
</div>
<div class="content_profile">
    <div class="title"> Thông tin cá nhân</div>
    <div class="content">
        <div>Mã người dùng: {{name}}</div>
        <div>Họ tên: {{name}}</div>
        <div>Ngày sinh {{name}}</div>
        <div>Giới tính: {{name}}</div>
        <div>Địa chỉ: {{name}}</div>
        <div>Vai trò: {{name}}</div>
        <div>Ngày bắt đầu làm việc: {{name}}</div>
        <div>Tên tài khoản: {{name}}</div>


    </div>
    <a href="{{#if isAdmin}}/admin/home{{/if}} {{#if isStaff}}/staff/home{{/if}} {{#if isDentist}}/dentist/home{{/if}}" class="back">
        Quay lại
    </a>

</div>