{{#if isAdmin}}{{>navAdmin}} {{/if}}
{{#if isStaff}}{{>navStaff}} {{/if}}

<div class="shedule_container">
    <div style="display: flex;justify-content: space-between;">
        <div class="title">
            Danh sách lịch hẹn
        </div>
        <a class="title" href="/add_schedule">
            <i class='bx bx-plus'></i>
        </a>
    </div>


    <div class="table">
        <div class="t_row t_head">
            <div>#</div>
            <div>Họ tên bênh nhân</div>
            <div>Bác sĩ</div>
            <div>Trợ khám</div>
            <div>Thời gian</div>
            <div>Phòng khám</div>

            <div>Tình trạng</div>
            <div>Chi tiết</div>
            <div></div>
        </div>

        <div class="t_content">
            <div class="t_row">
                <div>{{stt}}1</div>
                <div>{{id}}Nguyễn Văn A</div>
                <div>{{id}}Nguyễn Văn A</div>
                <div>{{id}}Nguyễn Văn A</div>
                <div>{{name}}7h AM 12/02/2023</div>
                <div>c171</div>
                <div>{{sl}}Tái khám</div>
                <div><i class="bx bx-file-find bbtn-detail"></i></div>
                <div><i class="bx bx-trash bbtn-trash"></i></div>
            </div>


        </div>
    </div>
</div>