{{#if isAdmin}}{{>navAdmin}} {{/if}}
{{#if isStaff}}{{>navStaff}} {{/if}}

<div class="shedule_container">
    <div style="display: flex;justify-content: space-between;">
        <div class="title">
            shedule
        </div>
        <a class="title" href="/add_shedule">
            <i class='bx bx-plus'></i>
        </a>
    </div>


    <div class="table">
        <div class="t_row t_head">
            <div>#</div>
            <div>Họ tên bênh nhân</div>
            <div>Thời gian</div>
            <div>Tình trạng</div>
            <div></div>
            <div></div>
        </div>

        <div class="t_content">
            <div class="t_row">
                <div>{{stt}}1</div>
                <div>{{id}}Nguyễn Văn A</div>
                <div>{{name}}7h AM</div>
                <div>{{sl}}Tái khám</div>
                <div><i class="bx bx-file-find btn-detail"></i></div>
                <div><i class="bx bx-trash btn-trash"></i></div>
            </div>
            <div class="t_row">
                <div>{{stt}}1</div>
                <div>{{id}}Nguyễn Văn A</div>
                <div>{{name}}7h AM</div>
                <div>{{sl}}Tái khám</div>
                <div><i class="bx bx-file-find btn-detail"></i></div>
                <div><i class="bx bx-trash btn-trash"></i></div>
            </div>
            <div class="t_row">
                <div>{{stt}}1</div>
                <div>{{id}}Nguyễn Văn A</div>
                <div>{{name}}7h AM</div>
                <div>{{sl}}Tái khám</div>
                <div><i class="bx bx-file-find btn-detail"></i></div>
                <div><i class="bx bx-trash btn-trash"></i></div>
            </div>
            <div class="t_row">
                <div>{{stt}}1</div>
                <div>{{id}}Nguyễn Văn A</div>
                <div>{{name}}7h AM</div>
                <div>{{sl}}Tái khám</div>
                <div><i class="bx bx-file-find btn-detail"></i></div>
                <div><i class="bx bx-trash btn-trash"></i></div>
            </div>
            <div class="t_row">
                <div>{{stt}}1</div>
                <div>{{id}}Nguyễn Văn A</div>
                <div>{{name}}7h AM</div>
                <div>{{sl}}Tái khám</div>
                <div><i class="bx bx-file-find btn-detail"></i></div>
                <div><i class="bx bx-trash btn-trash"></i></div>
            </div>
            <div class="t_row">
                <div>{{stt}}1</div>
                <div>{{id}}Nguyễn Văn A</div>
                <div>{{name}}7h AM</div>
                <div>{{sl}}Tái khám</div>
                <div><i class="bx bx-file-find btn-detail"></i></div>
                <div><i class="bx bx-trash btn-trash"></i></div>
            </div>
            <div class="t_row">
                <div>{{stt}}1</div>
                <div>{{id}}Nguyễn Văn A</div>
                <div>{{name}}7h AM</div>
                <div>{{sl}}Tái khám</div>
                <div><i class="bx bx-file-find btn-detail"></i></div>
                <div><i class="bx bx-trash btn-trash"></i></div>
            </div>
            <div class="t_row">
                <div>{{stt}}1</div>
                <div>{{id}}Nguyễn Văn A</div>
                <div>{{name}}7h AM</div>
                <div>{{sl}}Tái khám</div>
                <div><i class="bx bx-file-find btn-detail"></i></div>
                <div><i class="bx bx-trash btn-trash"></i></div>
            </div>
            <div class="t_row">
                <div>{{stt}}1</div>
                <div>{{id}}Nguyễn Văn A</div>
                <div>{{name}}7h AM</div>
                <div>{{sl}}Tái khám</div>
                <div><i class="bx bx-file-find btn-detail"></i></div>
                <div><i class="bx bx-trash btn-trash"></i></div>
            </div>
            <div class="t_row">
                <div>{{stt}}1</div>
                <div>{{id}}Nguyễn Văn A</div>
                <div>{{name}}7h AM</div>
                <div>{{sl}}Tái khám</div>
                <div><i class="bx bx-file-find btn-detail"></i></div>
                <div><i class="bx bx-trash btn-trash"></i></div>
            </div>
            <div class="t_row">
                <div>{{stt}}1</div>
                <div>{{id}}Nguyễn Văn A</div>
                <div>{{name}}7h AM</div>
                <div>{{sl}}Tái khám</div>
                <div><i class="bx bx-file-find btn-detail"></i></div>
                <div><i class="bx bx-trash btn-trash"></i></div>
            </div>
            <div class="t_row">
                <div>{{stt}}1</div>
                <div>{{id}}Nguyễn Văn A</div>
                <div>{{name}}7h AM</div>
                <div>{{sl}}Tái khám</div>
                <div><i class="bx bx-file-find btn-detail"></i></div>
                <div><i class="bx bx-trash btn-trash"></i></div>
            </div>
            <div class="t_row">
                <div>{{stt}}1</div>
                <div>{{id}}Nguyễn Văn A</div>
                <div>{{name}}7h AM</div>
                <div>{{sl}}Tái khám</div>
                <div><i class="bx bx-file-find btn-detail"></i></div>
                <div><i class="bx bx-trash btn-trash"></i></div>
            </div>
            <div class="t_row">
                <div>{{stt}}1</div>
                <div>{{id}}Nguyễn Văn A</div>
                <div>{{name}}7h AM</div>
                <div>{{sl}}Tái khám</div>
                <div><i class="bx bx-file-find btn-detail"></i></div>
                <div><i class="bx bx-trash btn-trash"></i></div>
            </div>
            <div class="t_row">
                <div>{{stt}}1</div>
                <div>{{id}}Nguyễn Văn A</div>
                <div>{{name}}7h AM</div>
                <div>{{sl}}Tái khám</div>
                <div><i class="bx bx-file-find btn-detail"></i></div>
                <div><i class="bx bx-trash btn-trash"></i></div>
            </div>
        </div>
    </div>
</div>